

<center><h1 style="font-family:courier;font-size:300%;" >Welcome to Anna's random pairing app</h1><center><br>

<center><form method = "post" action = "inputnames">
	<h1>enter a name to add to list</h1>
	<input type="text" name="new_name" autofocus>
	<input type="submit" value="add">
</form>
</center></body>
