<%=name_list%>
<form method="post" action="inputnames">
	enter another name you want to add to the list:<br>

<input type = "text" name = "new_name" autofocus>

<input type = "submit" value="Add">
</form>
<form method="post" action="make_pairs">
	<input type = "text" name = "name_array2" value='<%=name_list%>'>
	<br><input type="submit" value="Make pairs">
	</form>
<!-- <form method="post" action="make_jeramy_name">
	<input type= "text" name="makename" value="jeramy">
	<input type = "submit" value="makename"></form> -->
</center>
