<%=names_list%>
<form method="post" action="reroll">
  <!-- <%counter = 0%>
  <% names_list.each do |x| %>
    <br><input type="checkbox" name="reroll[]" value="<%=counter%>"> <%# Creates a new checkbox with the return value of counter. %>
    <%= names_list[counter] %> <%# pair_list[x] tries to convert Array into Integer. Why?  %>
    <% counter += 1%>
  <% end %>
  <br><input type="submit" value="Make new pairs"> -->
</form>
