<center>Welcome to Anna's random pairing app<center><br>
<center>How many random pairs would you like to make?<center>
<center><form method = "post" action = "resultforhowmanypairs" id = "text_box">
	    <input type ="number" min = 2 autofocus ="autofocus" id="names_to_pair" oninput="setup()">
	    <button type = "button" onclick = "add_button()">+</button>
	    <button type = "button" onclick = "minus_button()">-</button>
	    <p id = "demo"> </p>
	    <input type = "submit" value = "enter">

	</form><center>